{{#each defendant}}
<li class = "row shadow">
<button id="{{id}}" type="button" class="d-flex col-12 justify-content-between btn button rounded m-1">
    <div id="{{id}}" class="col">
        <div id="{{id}}" class="row">    
            <i id="{{id}}" class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
            <a id="{{id}}" >{{def_name}}</a>
        </div>
    </div>
    <div class="col" id="{{id}}">
        <div class="row" id="{{id}}">
            <i id="{{id}}" class="fa fa-calendar" aria-hidden="true"></i>&nbsp;
            <a id="{{id}}">{{sale_date}}</a>
        </div>
    </div>
    <div id="{{id}}" class="d-flex col justify-content-end">
        <div id="{{id}}" class="row">
            <a id="{{id}}">{{amount}}</a>
        </div>
    </div>
</button>
</li>
{{/each}}


